
.body-forgot-password {

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(102, 99, 209);
    background: linear-gradient(347deg, rgba(102, 99, 209, 1) 40%, rgba(150, 147, 253, 1) 75%, rgba(93, 204, 210, 1) 98%);
}

.p-icon-field {
    width: 100%;
}
